.pageHeader{
    font-size: 30px;
    text-align: center;
}

.dataTable{
    width: 80%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.addElement{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.MuiTableCell-head {
    font-weight: 600 !important;
    text-align: center !important;
}

.MuiTableCell-root
{
    text-align: center !important;
}

.MuiTablePagination-toolbar
{
    width: 89% !important;

}